In [54]:
#1. Import packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [55]:
#2. Load the csv data
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [56]:
#3. Datasets summary and type
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [58]:
# Distribution of patients in datset
df['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

In [59]:
#Split into x and y
x= df.drop('target',axis=1)
y= df['target']

In [60]:
#Split into train, test sets
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.2, stratify=y, random_state=711)

In [61]:
#Define min max scaler, transform
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

In [62]:
#Train and fit with Logistic Regression model 
logmodel=LogisticRegression()
logmodel.fit(x_train_scaled,y_train)
logtrain_acc=logmodel.score(x_train_scaled, y_train)
logtest_acc=logmodel.score(x_test_scaled, y_test)
print('Training data accuracy (Logistic):',logtrain_acc)
print('Testing data accuracy (Logistic):',logtest_acc)

Training data accuracy (Logistic): 0.8609756097560975
Testing data accuracy (Logistic): 0.8146341463414634

In [63]:
#Train and fit with Linear Regression model 
linmodel=LinearRegression()
linmodel.fit(x_train_scaled,y_train)
lintrain_acc=linmodel.score(x_train_scaled, y_train)
lintest_acc=linmodel.score(x_test_scaled, y_test)
print('Training data accuracy (Linear):',lintrain_acc)
print('Testing data accuracy (Linear):',lintest_acc)

Training data accuracy (Linear): 0.5305774594159356
Testing data accuracy (Linear): 0.4480903152943604

In [64]:
#Train and fit with SVM polynomial model 
svm_poly = SVC(kernel='poly', degree=4)
svm_poly.fit(x_train_scaled, y_train)
svmtrain_acc=svm_poly.score(x_train_scaled, y_train)
svmtest_acc=svm_poly.score(x_test_scaled, y_test)
print('Training data accuracy (SVM_polynomial):',svmtrain_acc)
print('Testing data accuracy (SVM_polynomial):', svmtest_acc)

Training data accuracy (SVM_polynomial): 0.947560975609756
Testing data accuracy (SVM_polynomial): 0.9073170731707317

In [73]:
# #Train and fit with RBF kernel, gamma = 0.2
svm_gamma = SVC(kernel='rbf', gamma=0.2)
svm_gamma.fit(x_train_scaled, y_train)
svmgammatrain_acc=svm_gamma.score(x_train_scaled, y_train)
svmgammatest_acc=svm_gamma.score(x_test_scaled, y_test)
print('Training data accuracy (SVM_gamma):',svmgammatrain_acc)
print('Testing data accuracy (SVM_gamma):', svmgammatest_acc)

Training data accuracy (SVM_gamma): 0.9878048780487805
Testing data accuracy (SVM_gamma): 0.9707317073170731

In [75]:
#Evaluate the models accuracy
model_ev = pd.DataFrame({'Model': ['Logistic Regression','Linear Regression','SVM- Polynomial k', 'SVM- RBF k' ], 'Training data Accuracy %': [logtrain_acc*100, lintrain_acc*100, svmtrain_acc*100, svmgammatrain_acc*100],'Testing data Accuracy %': [logtest_acc*100, lintest_acc*100, svmtest_acc*100, svmgammatest_acc*100]})
model_ev

                 Model  Training data Accuracy %  Testing data Accuracy %
0  Logistic Regression                 86.097561                81.463415
1    Linear Regression                 53.057746                44.809032
2    SVM- Polynomial k                 94.756098                90.731707
3           SVM- RBF k                 98.780488                97.073171